<div class="overlay" data-ng-if="modal.modalIsVisible" data-ng-click="modal.hideModal($event)">
    <div class="modal">
        <h2 data-ng-if="modal.modalTitle">{{ modal.modalTitle }}</h2>
        <div data-ng-transclude></div>

        <form data-ng-if="modal.modalType === 'prompt'">
            <fieldset>
                <legend>Confirm form</legend>
                <button data-ng-click="modal.onConfirm({ response: true })">OK</button>
                <button data-ng-click="modal.onConfirm({ response: false })">Cancel</button>
            </fieldset>
        </form>
    </div>
</div>
